html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

header{
    text-align: center;
}
body{
    text-align: center;
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}
#wrapper{
    display: flex;
    flex-flow: column;
}
#everything{
    display: flex;
    justify-content: space-around;
      
}
nav{
    flex: 1 25%;
    background-color: aqua;
    order: +2;
}
aside{
    flex: 1 25%;
    background-color: aquamarine;
    order: -1;
}
main{
    flex: 2 50%;
    background-color: coral;
}
.row{
}
@media screen and (min-width: 500px){
#page-nav,
main,
#page-aside{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-around;
}


#page-nav,
#page-aside;{
    
}
main{
    
}
}